<header>
  <form method="POST" action="/urls/login">
    <label for="username">Username</label>
    <input type="text" name="username">
    <button type="submit" value="submit">Submit</button>
  </form>
 </header>